<div class="Header-titles">
    <h1 class="Header-title">
        <a href="https://filipbook.com">Filip Book</a>
    </h1>
    <h2 class="Header-subTitle">Web developer</h2>
</div> 
<div class="Header-actions">
    <a class="Header-button Button Button--action Button--wide" href="https://github.com/insanityandme">
        <span class="icon-github icon-large"></span>
        View My Github Repositories
    </a> 
    <a class="Header-button Button Button--action Button--wide" href="https://github.com/insanityandme">
        <span class="icon-twitter icon-large twitter-color"></span>
        Spread The Word
    </a> 
</div>
