{% extends "base.html" %}

{% block header %}
    <div class="Header">
        {% include "header.html" %}
    </div>
{% endblock %}

{% block main %}
<main class="Site-content Site-content--full">
    {% block content %}    
        <section class="Section">
            <div class="Container">
                <h2 class="Section-heading">Introduction</h2>
            </div>
        </section>
        <section class="Section">
            <div class="Container">
                <h2 class="Section-heading">Showcase</h2>
                <ul class="Grid Grid--guttersLg">
                    {% for project in projects %}
                        <li class="Grid-cell u-full u-med-10f2 u-large-1of3">
                            <div class="Feature">
                                <a href="/projects/{{ project.slug }}">
                                    <figure class="Feature-figure">
                                        <img class="Feature-image" src="{{ project.thumbnail.url }}"/>   
                                    </figure>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div> 
        </section>
    {% endblock %}
</main>
{% endblock %}
