@import 'normalize.css';

.Grid {
  display: flex;
}

.Grid-cell {
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid--center {
  align-items: center;
}

.Border {
}


.category {
  font-size: 20px;
  transform: rotate(-10deg);
  width: 100px;
}


.Medium-box img {
  width: 200px;
  height: auto;  
}


.Small-box img {
  width: 100px;
  height: auto;
}


.hide {
  visibility: hidden;
}

.Grid-cell a:last-child .item {
  border: 0;
}

.item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.90);
}

.item:hover:after {
  background: rgba(0,0,0,0.3);
}

/* Prevents the cursor to switch icon when hovering over text in the index page, prevent unnecessary. context switches (e.g. cursor icon switching from Arrow to I, signaling that the text is in focus when accidentely hovering over it.).
*/ 
.content-type-container, 
.category {
  pointer-events: none;
}

/* Text-in-a-box titles and subtitles */
.text-in-a-box {
  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 100%;
  
  background: white;
  text-align: left;
}

.text-in-a-box h2, 
.text-in-a-box p {
  color: black;
}

.text-in-a-box h2 {
  font-size: 14px; 
  line-height: 120%; 
  margin: 0;
  padding-left: 10px;
}

.text-in-a-box p {
  font: 14px "komika_text_tightregular", sans-serif;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 5px;
}

.title {
  margin: 0;
}

.title-solo {
  text-align: center;    
  margin: 0px 10px 13px 10px;
}

.title-small {
  font-size: 12px;
}

.subtitle {
  line-height: 100%;
}

.subtitle-solo {
  line-height: 110%;
}


.content-type {
  transform: rotate(2deg); /* Prone to changes */
}

/* Styling involving Header Title and Subtitle */
.content-type-container, .category {
  color: white; 
}


.content-type-container h2 {
  font-size: 28px; 
}


.content-type-container {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 280%;
}

.content-type-container h2,
.content-type-container p {
  margin: 0;
  padding: 0;
}
/* END styling involving Header Title and Subtitle */

/* Specific 1st item-row styling */
#intro h2,
#intro p {
  text-align: center;
}

/* Responsive things */
@media (max-width: 800px) {
  .item-container {
    display: block;
  }
}

.item-content {
  color: white;
}

.item-content img{
  width: 300px;
  height: auto;
}
