.Image {
  display: block;
  max-width: 400px;
  height: auto;
  margin-top: 0.2em;
}

.Image--tiny {
  width: 30px;
}

@media (--break-md) {
  .Image {
    width: 700px;
  }
  .Image--tiny {
    width: 40px;
  }
}

